@font-face{font-family:'novecento_sans_widebook';src:url('Novecentosanswide-Book-webfont.eot');src:url('Novecentosanswide-Book-webfont.eot?#iefix') format('embedded-opentype'),
url('Novecentosanswide-Book-webfont.woff2') format('woff2'),
url('Novecentosanswide-Book-webfont.woff') format('woff'),
url('Novecentosanswide-Book-webfont.ttf') format('truetype'),
url('Novecentosanswide-Book-webfont.svg#novecento_sans_widebook') format('svg');font-weight:normal;font-style:normal;}